body {
    background-color: #f5f5f5;
    font-family: 'Lucida Grande';
    width:100%;
    height:100%;
}
legend {
    font-size: 16px;
}
.jumbotron {
    background-color:#008000;
    color: #f5f5f5;
    margin-bottom: 0;
}
.text-center{
  margin: 0 auto;
  text-align:center;
}
.vs-container{
  max-width:200px;
}
.home-team{
  font-size:16px;
  float:right;
  font-weight:bold;

}
.away-team{
  font-size:16px;
  font-weight:bold;
  float:left;
}
.game-time{
  font-size:12px;
}
.player-to-add{
  float:right;
  padding:5px;
  height:40px;
  background-color:#008000;
  width:40px;
  vertical-align:middle;
  text-align:center;
  margin:auto;
  display:inline-block;
}
.player-to-remove{
  float:right;
  padding:5px;
  height:40px;
  width:40px;
  background-color:red;
  vertical-align:middle;
  text-align:center;
  margin:auto;
  display:inline-block;
}
.positionInput{
  visibility:hidden;
}
.positions > label{
  cursor:pointer;
}
.positions > input:checked + label {
    background: red;
}
.playerPhoto{
  height:40px;
  display:inline-block;
}
.currentSalary{
  display:inline-block;
  font-size:18px;
  vertical-align:middle;
}
.playerContent{
  display:inline-block;
  width:calc(100% - 190px);
  vertical-align:middle;
}
.form-group{
  margin-bottom: 0.5em;
}
.rank{
  font-size:18px;
  display:inline-block;
  vertical-align:middle;
  font-weight:bold;
}
