<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Fantasy Football Watchlist</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="./assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="./assets/css/main.css">

</head>

<header class="jumbotron">
    <div class='container-fluid'>
        <h1 class="page-title text-center">Fantasy Football Watchlist</h1>
    </div>
  </header>
<body>


</body>
