<!doctype html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <title>Fantasy Football Watchlist</title>
    <link rel="manifest" href="/manifest.json">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="./assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="./assets/css/main.css">

</head>

<body>

    <header class="jumbotron">
        <div class='container-fluid'>
            <h1 class="page-title text-center">Fantasy Football Watchlist</h1>
        </div>

    </header>
    <nav>
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link" href="/">My Watchlist</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="all-players.html">Players</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" href="nfl-schedule.html">NFL Schedule</a>
            </li>
        </ul>
    </nav>

    <script id="schedule-list" type="text/x-handlebars/template">
      <ul class='list-group'>

        {{#each this}}
        <li class='list-group-item'>
            <div class='vs-container text-center'><span class='away-team'>{{this.awayTeam}}</span> @ <span class='home-team'>{{this.homeTeam}}</span></div> <div class='game-time text-center'>{{gameDate}} {{gameTimeET}}ET</div>
        </li>
        {{/each}}
      </ul>
    </script>

    <main>

        <div id='scheduleList'>
        </div>

    </main>

<script src="https://www.gstatic.com/firebasejs/3.4.0/firebase.js"></script>
<script>
  // Initialize Firebase
  var config = {
    apiKey: "AIzaSyC3tNQLuYb9g9wiaQc6Hn-peZC3Kpm0Ixk",
    authDomain: "fantasy-football-watchlist.firebaseapp.com",
    databaseURL: "https://fantasy-football-watchlist.firebaseio.com",
    storageBucket: "fantasy-football-watchlist.appspot.com",
    messagingSenderId: "673776022250"
  };
  firebase.initializeApp(config);
</script>
    <script src="assets/js/vendor.js"></script>
    <script src="assets/js/app.js"></script>
</body>

</html>
