<!doctype html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <title>Fantasy Football Watchlist</title>
    <link rel="manifest" href="/manifest.json">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="./assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="./assets/css/main.css">
    <link rel="shortcut icon" type="image/x-icon" href="favicon.ico" />

</head>

<body>

    <header class="jumbotron">
        <div class='container-fluid'>
            <h1 class="page-title text-center">Fantasy Football Watchlist</h1>
        </div>

    </header>

    <nav>
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link" href="/">My Watchlist</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="all-players.html">Players</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" href="nfl-schedule.html">Schedule</a>
            </li>
        </ul>
    </nav>

    <div class='form-group'>
      <label class='sr-only' for="week">Week</label>
      <select class='form-control' id="week">
        <option value="1">Week 1</option>
        <option value="2">Week 2</option>
        <option value="3">Week 3</option>
        <option value="4">Week 4</option>
        <option value="5">Week 5</option>
        <option value="6">Week 6</option>
        <option value="7">Week 7</option>
        <option value="8">Week 8</option>
        <option value="9">Week 9</option>
        <option value="10">Week 10</option>
        <option value="11">Week 11</option>
        <option value="12">Week 12</option>
        <option value="13">Week 13</option>
      </select>
    </div>
    <script id="schedule-list" type="text/x-handlebars/template">

      <ul class='list-group'>
        {{#each this}}
        <li class='list-group-item'>
            <div class='vs-container text-center'>
              <img class='teamLogo away' src='assets/images/teams/{{this.awayTeam}}.gif' aria-hidden="true">
              <span class='away-team'><span aria-hidden="true">{{this.awayTeam}}</span><span class='sr-only'>{{this.awayTeamName}}</span></span> @ <span class='home-team'><span class='sr-only'>{{this.homeTeamName}}</span><span aria-hidden='true'>{{this.homeTeam}}</span></span>
              <img class='teamLogo home' src='assets/images/teams/{{this.homeTeam}}.gif' aria-hidden="true"></div> <div class='game-time text-center'>{{gameDate}} {{gameTimeET}} ET</div>
        </li>
        {{/each}}
      </ul>
    </script>

    <main>

        <section id='scheduleList'>
        </section>

    </main>

<script src="https://www.gstatic.com/firebasejs/3.4.0/firebase.js"></script>
<script>
  // Initialize Firebase
  var config = {
    apiKey: "AIzaSyC3tNQLuYb9g9wiaQc6Hn-peZC3Kpm0Ixk",
    authDomain: "fantasy-football-watchlist.firebaseapp.com",
    databaseURL: "https://fantasy-football-watchlist.firebaseio.com",
    storageBucket: "fantasy-football-watchlist.appspot.com",
    messagingSenderId: "673776022250"
  };
  firebase.initializeApp(config);
</script>
    <script src="assets/js/vendor.js"></script>
    <script src="assets/js/app.js"></script>
</body>

</html>
